:root {
  --azul: #134b91;
  --laranja: #ef7926;
  --laranja-mid: #f7ad75;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Nata Sans', sans-serif;
  font-optical-sizing: auto;
  color: #252525;
}

#app {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
}

h3 {
  margin-bottom: 5px;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1440px;
  padding: 10px;
}

header>img {
  width: 300px;
  margin: 20px;
}

.header-text {
  text-align: center;
  max-width: 330px;
}

.header-text p {
  margin-top: 15px;
}

main {
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 18px;
}

.card {
  display: flex;
  flex-flow: column;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  /* border: solid 1px #252525; */
  box-shadow: 0 0px 2px hsla(0, 0%, 15%, 0.315);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.08);
}

.card>img {
  border-radius: 5px;
  margin-bottom: 15px;
}

.card small {
  margin-top: 10px;
}

footer {
  background-color: var(--azul);
  width: 100%;
  min-height: 150px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
}

footer>small {
  text-align: center;
  color: #fff;
}

footer>q {
  margin-bottom: 5px;
  color: #ef7926;
}

@media (max-width: 980px) {
  main {
    justify-content: center;
  }
}